<div class="page-container">
    <div class="login-container">
        <h2>Reset Password</h2>
        <form [formGroup]="resetForm">
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" formControlName="email"
                name="email" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" formControlName="newPassword" name="password" required>
            </div>
            
            <div class="button-group">
                <button type="submit" (click)="clickReset()">Reset</button>
                <button type="button" (click)="cancelReset()">Cancel</button>
            </div>
           
        </form>
    </div>
</div>

<p-toast />

